*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* reset */

body{
    font-family: 'Open Sans', sans-serif;
}

.margin-container{
    /* background-color: black; */
    height: 500px;
    /* test */

    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.container{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

/* top navbar */
nav{
    background-color: darkred;
    height: 50px;
    /* test */

    width: 100vw;
    display: flex;
    justify-content: space-between;

    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
}

nav div{
    width: 30%;
    height: 100%;
    background-color: orange;
    /* test */

    display: flex;
}
/* end top navbar */

/* header */
main{
    height: calc(100vh - 50px);
    margin-top: 50px;
    overflow-y: auto;
}

header{
    height: 735px;
    /* test */

    padding-top: 60px;
    background-color: #B4D0E7;
    margin-bottom: calc(35px + 60px); /* head-flex position offset + margin */
}

header h1{
    font-size: 77px;
    font-weight: 800;
}

.head-flex{
    display: flex;
    position: relative;
    top: 60px;
}

.head-img{
    width: 785px;
    height: 460px;
    background-color: blueviolet;
    /* test */
}

.head-text{
    background-color: chartreuse;
    /* test */
    flex-grow: 1;
}
/* end header */

/* section business plan */
main h2{
    font-size: 40px;
    margin-bottom: 60px;
}

main h3{
    font-size: 24px;
}

.btn-radial{
    height: 20px;
    background-color: aquamarine;
    /* test */

    display: flex;
    margin-bottom: 50px;
}

.plans{
    display: flex;
    justify-content: space-between;

    margin-bottom: 50px;
}

.plans > div{
    background-color: orange;
    height: 900px;
    /* test */
    width: 300px;
}

.plan-title{
    text-align: center;
    padding: 5px;
    border-bottom: 1px solid gray;
}

.plan-enterprise{
    background-color: orange;
    height: 255px;
    /* test */

    width: 100%;
    margin-bottom: 150px;
}

.contact-flex{
    display: flex;
    justify-content: center;

    margin-bottom: 170px;
}

.contact-img{
    background-color: blueviolet;
    width: 600px;
    height: 510px;
    /* test */
}

.contact-text{
    height: 510px;
    background-color: chartreuse;
    /* test */

    flex-grow: 1;
}
/* end section business plan */

/* dropbox business */
.business-tools{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 60px 0px;

    margin-bottom: 210px;
}

.business-tools > div{
    height: 460px;
    background-color: orange;
    /* test */
    width: 300px;
}

.business-img{
    height: 215px;
    background-color: blueviolet;
    /* test */
}
/* end dropbox business */

/* testimonials */
.testimonial-title{
    margin-bottom: 150px;
}

.testimonials{
    display: flex;
}

.testimonials-container{
    width: calc(100vw / 3);
    display: flex;
    flex-wrap: wrap;
}

.testimonial-box{
    background-color: brown;
    border: 2px dashed black;
    /* test */
    width: calc(100vw / 6);
    height: calc(100vw / 6);
}

.testimonials-center{
    height: calc(100vw / 3);
    background-color: gray;
    /* test */
    flex-grow: 1;
}

.testimonial-cta{
    background-color: #B4D0E7;
    padding: 140px;
}

.cta{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.cta h2{
    max-width: 470px;
    margin: 0;
}

.cta div{
    width: 300px;
    background-color: white;
    padding: 15px 45px;
    font-size: 18px;
}
/* end testimonials */